<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de produto</title>
</head>
<body>
    <form action="/cadastro/produto" method="POST">
        <table>
            <tr>
                <td>Nome do produto</td>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td>Categoria</td>
                <td><input type="text" name="categoria"></td>
            </tr>
            <tr>
                <td>Preço</td>
                <td><input type="number" name="valor"></td>
            </tr>
        </table>
        <a href="/"><button type="submit">Cadastro</button></a>
    </form>
</body>
</html>