<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <table border="1">
        <tr>
            <th> nome </th>
            <th> categoria </th>
            <th> valor </th>
        </tr>
        {% for item in data %}
            <tr>
                <td> {{ item.produto }} </td>
                <td> {{ item.categoria }} </td>
                <td> {{ item.valor }} </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>